@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");

:root {
	--color-web-normalize: #008793;
	--color-base-button: rgb(0, 0, 197);
	--color-base-button-hover: rgb(0, 40, 197);
	--color-base-button-active: white;
	--text-color: #00f2ff;
	--border-color: #434343;
	--border-color-hover: rgb(19, 19, 19);
}

* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
	scroll-behavior: smooth;
	color: var(--text-color);
	transition: 0.9s;
	scroll-behavior: smooth;
}

*:active {
	transition: 0s;
}

a {
	text-decoration: 2px underline var(--color-base-button);
	color: rgb(255, 1, 255);
	font-size: 22px;
}

a:hover {
	color: rgb(255, 70, 255);
}

h1 {
	font-family: "Comic Relief", system-ui;
}

img {
	width: 40px;
	height: 40px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: start;
	position: relative;
	gap: 64px;
}

menu {
	display: grid;
	grid-template-columns: 3fr 0.1fr 3fr 1fr;
	align-items: center;
	justify-items: start;
}

nav {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

#spe {
	justify-content: start;
	gap: 22px;
}

hr {
	height: 100%;
	width: 2px;
	border: none;
	background-color: #00000096;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	position: relative;
	gap: 190px;
	padding: 48px;
}

header {
	padding: 18px;
	background-color: var(--color-web-normalize);
	box-shadow: 0px 0px 20px 20px var(--color-web-normalize);
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 16px;
	background-color: var(--color-web-normalize);
	padding: 40px;
	border-radius: 20px;
	box-shadow: 0px 10px 10px 0px var(--color-web-normalize);
	border: none;
	position: relative;
}

button {
	padding: 12px 24px;
	font-size: 16px;
	border: 2px solid var(--border-color);
	background-color: var(--color-base-button);
	border-radius: 16px;
	box-shadow: inset 0px 0px 20px 0px rgb(71, 71, 255);
	cursor: pointer;
}

button:hover {
	border-color: var(--border-color-hover);
	background-color: var(--color-base-button-hover);
	box-shadow: inset 0px 0px 20px 0px rgb(255, 255, 255);
}

button:active {
	border-color: var(--color-base-button-active);
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
	gap: 24px;
}

.intNum {
	width: 65px;
	padding: 5px;
	border-radius: 8px;
	border: 2px solid var(--border-color);
}

.intRad {
	width: 20px;
	height: 20px;
}

.intNum:hover {
	border-color: var(--border-color-hover);
	border-radius: 16px;
}

.orgonize {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 5vh 5vh;
	align-items: center;
	justify-items: center;
	gap: 12px;
	align-items: center;
	justify-content: center;
}

label {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 12px;
	font-size: 18px;
}

#changeColorWeb > form {
	width: 100%;
}

#changeColorWeb > form > div {
	width: 100%;
}

.orgonize1 {
	display: grid;
	grid-template-columns: 1.2fr 0.5fr 1.2fr 0.5fr;
	grid-template-rows: 5vh 5vh 5vh;
	align-items: center;
	justify-items: start;
}

.intColr {
	border: 2px solid var(--border-color);
	border-radius: 8px;
	padding: 0.5px;
}

.intColr:hover {
	transition: 0.6s;
	border-radius: 35%;
}

html:has(button:hover) body {
	background-color: #000000;
}

html:has(button:hover) section {
	box-shadow: 0px 0px 20px 20px var(--color-web-normalize);
}

.abso {
	position: absolute;
}

.pluie {
	top: 80px;
	left: 130px;
}

.etoile1 {
	top: -15px;
	left: -25px;
	rotate: 10deg;
}
.etoile2 {
	top: 130px;
	left: 350px;
	rotate: 50deg;
}

.coeur1 {
	top: 30px;
	left: 100px;
	rotate: -90deg;
}

.coeur2 {
	top: 270px;
	left: 600px;
}

.coeur3 {
	top: 125px;
	left: 420px;
	rotate: 90deg;
}

.patte1 {
	top: -20px;
	left: -20px;
	rotate: -35deg;
}

.patte2 {
	top: -20px;
	left: 450px;
	rotate: 35deg;
}

.patte3 {
	top: 230px;
	left: 50px;
	rotate: 20deg;
}
.patte4 {
	top: 230px;
	left: 380px;
	rotate: -20deg;
}

html:has(svg:hover) * {
	color: red;
}
