@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comic+Relief:wght@400;700&display=swap");
* {
	padding: 0;
	margin: 0;
	font-family: "Roboto", sans-serif;
}

h1 {
	font-family: "Comic Relief", system-ui;
}

img {
	width: 40px;
	height: 40px;
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
}

header {
	padding: 18px;
	background-color: #6df2ff;
}

menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: start;
}

footer {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	padding: 18px;
	background-color: #05abbb;
}
